<% provide :title, t(".title") %>
  <main>
    <section class="ray-page container">
      <ul class="ray-breadcrumbs">
        <li class="ray-breadcrumb">
          <a href="#"><%= t ".airport_terminal" %> </a>
        </li>
      </ul>
    </section>
    <div id="list-slots-custom">
      <section class="content custom container">
        <div class="header">
          <div class="header__right">
            <h1><%= @terminal.name %></h1>
            <span>
            <div class="dropdown show">
              <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLinkTerminal" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Terminal
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLinkTerminal">
                <% Terminal.all.each do |terminal| %>
                  <%= link_to terminal, class: "dropdown-item", id: "dropdownMenuLinkTerminal" do %>
                    <p><%= terminal.name %></p>
                  <% end %>
                <% end %>
              </div>
            </div>
            </span>
          </div>
          <div class="header__left">
            <p> <%= t ".address" %> </p>
          </div>
        </div>
        <div class="main">
          <div class="main__left">
            <div class="products">
              <% @slots.each do |slot| %>
                <%= link_to slot do %>
                  <div class="product" id="terminalItem">
                    <%= link_to slot do %>
                      <%= image_tag "/images/demo.jpeg"%>
                    <% end %>
                    <div class="product__title">
                      <%= link_to slot.name, slot %>
                      <% if slot.is_empty %>
                        <span class="badge badge-success"><%= t ".empty" %></span>
                      <% else %>
                        <span class="badge badge-info"><%= t ".rented" %></span>
                      <% end %>
                    </div>
                    <p class="product__text"><%= slot.terminal.name %> </p>
                  </div>
                <% end %>
              <% end %>
              <div class="mt-4">
                <%= paginate @slots, theme: "twitter-bootstrap-4", pagination_class: "pagination-sm",nav_class: "d-inline-b" %>
              </div>
              <div class="footer">
                <h2><%= t ".terminal_information" %> </h2>
                <p class="text__header"><%= t ".name" %>: <%= @terminal.name %></p>
                <span class="text__header"><%= t ".area" %>: <%= @terminal.area %> <span>m<sup>2</sup></span></p>

                <i class="fas fa-phone"><%= Settings.info.phone %> </i>
              </div>
            </div>
            <div class="text">
              <h2> <%= t ".description_title" %> </h2>
              <p><%= @terminal.description %></p>
              <a href="#"> <%= t ".address" %> </a>
            </div>
          </div>
          <div class="main__right home_main_right">
            <iframe src= <%= Settings.links.googlemap %>></iframe>
          </div>
        </div>
      </section>
    </div>
  </main>
